{{#if user.admin}}
<style type="text/css">
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<div class="col-md-offset-1 col-md-10">
	<div class="page-header">
		<h1>Query Templates Manager</h1>
	</div>
	<h3>Select file</h3>
	<div class="form-group">
		<div class="row">
			<div class="form-group col-md-7">
				<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-primary btn-file">
									Browse file<input type="file" id="fileinput">
								</span>
							</span>
							<input type="text" class="form-control" readonly>
				</div>
			</div>
		</div>
		<br></br>
		<div class="row">
		<div class="form-group col-md-7">
			<textarea class="form-control" rows="7" id="area" readonly></textarea>
			</div>
		</div>
	</div>
	<h3>Query content</h3>
	<form class="form-horizontal" id="surveyForm">
	  <div class="form-group">
		<label class="col-sm-2 control-label">Id</label>
		<div class="col-sm-3">
		  <input type="text" class="form-control" id="idfield">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label">Description</label>
		<div class="col-sm-3">
		  <input type="text" class="form-control" id="descfield">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-3">
		  <input type="text" class="form-control" id="namefield">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label">Metadata</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="metafield1">
		</div>
		<div class="col-md-4">
            <button type="button" class="btn btn-default addButton1">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </div>
	  </div>
	  
	  <div class="form-group hide" id="optionTemplate1">
        <div class="col-sm-3 col-md-3 col-md-offset-2">
            <input type="text" class="form-control" name="option[]1" />
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default removeButton1">
                <i class="glyphicon glyphicon-minus-sign"></i>
            </button>
        </div>
    </div>
	<div class="row">
	  <label class="col-md-2 control-label">Parameters</label>
	</div>
	
	  <div class="form-group">
		<label class="col-md-1 col-md-offset-1 control-label"><small>$1</small></label>
		<div class="col-sm-3">
		  <input type="text" class="form-control" id="paramfield1">
		</div>
		<div class="col-sm-3">
			<button type="button" class="btn btn-default addButton2">
				<span class="glyphicon glyphicon-plus-sign"></span>
			</button>
		</div>
	  </div>
	  
	  <div class="form-group hide" id="optionTemplate2">
	  <label class="col-md-1 col-md-offset-1 control-label"><small>$2</small></label>
        <div class="col-md-3">
            <input type="text" class="form-control" name="option[]2" />
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default removeButton2">
                <i class="glyphicon glyphicon-minus-sign"></i>
            </button>
        </div>
    </div>
	  
	  <div class="form-group">
		<label class="col-sm-2 control-label">QUERY</label>
		<div class="col-sm-7">
		  <textarea type="text" rows="7" class="form-control" id="queryfield"></textarea>
		</div>
	  </div>
	  
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save as file</button>
    </div>
  </div>
  
</form>
	

	<div class="col-sm-offset-2 col-sm-10">
      <button type="button" id="test" class="btn btn-default">reset</button>
    </div>
  </div>	
</div>
</div>
<script type="text/javascript">
	$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

var paramoptions1 = 1;
var metaoptions1 = 1;

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });

    // The maximum number of options
    

    $('#surveyForm')	
		 // Add button click handler
        .on('click', '.addButton1', function() {
			metaoptions1++;
            var $template = $('#optionTemplate1'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
								.attr('id','metafield'+metaoptions1)
                                .insertBefore($template),
                $option   = $clone.find('[name="option[]1"]');
				document.getElementById('metafield'+metaoptions1).getElementsByTagName('input')[0].id = ('metafield');
				

            // Add new field
        })
		
		.on('click', '.addButton2', function() {
			paramoptions1++;
            var $template = $('#optionTemplate2'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
								.attr('id','paramfield'+paramoptions1)
                                .insertBefore($template),
                $option   = $clone.find('[name="option[]2"]');
				document.getElementById('paramfield'+paramoptions1).getElementsByTagName('input')[0].id = ('paramfield');

            // Add new field
        })

        // Remove button click handler
        .on('click', '.removeButton1', function() {
			metaoptions1--;
            var $row    = $(this).parents('.form-group'),
                $option = $row.find('[name="option[]1"]');

            // Remove element containing the option
            $row.remove();
	
            // Remove field
        })
		
		.on('click', '.removeButton2', function() {
		paramoptions1--;
            var $row    = $(this).parents('.form-group'),
                $option = $row.find('[name="option[]2"]');

            // Remove element containing the option
            $row.remove();

            // Remove field
        });

        
});


      function loadjsonfile(content){
		resetFields();
		var jsonData = JSON.parse(content);
		document.getElementById('idfield').value=  jsonData.sparqlquery.id;
		document.getElementById('descfield').value=  jsonData.sparqlquery.desc;
		document.getElementById('namefield').value=  jsonData.sparqlquery.name;
		var meta = jsonData.sparqlquery.meta;
		document.getElementById('metafield1').value=  meta[0];
		if(meta.length>1){
			for (x=0;x<meta.length-1;x++)
				addmetafield();
			}
		var metaelements = document.getElementsByName('option[]1');
			for (x=0;x<metaelements.length;x++)
				metaelements[x].value= meta[x+1];
			
			
		var param = jsonData.sparqlquery.param;
		document.getElementById('paramfield1').value=  param.$1;
			var loop=0;
			for (var key in param){
				loop++;
				}
			for (x=0;x<loop-1;x++){
				addparamfield();
			}
			loop=0;
			var paramelements = document.getElementsByName('option[]2');
			for (var key in param){
				if(loop>0){

				paramelements[loop-1].value= param[key];}
				loop++;
				}
				
		
		
		document.getElementById('queryfield').value=  jsonData.sparqlquery.query;
	}
	
	function readSingleFile(evt) {
        //Retrieve the first (and only!) File from the FileList object
        var f = evt.target.files[0]; 

        if (f) {
			var r = new FileReader();
			r.onload = function(e) { 
				var contents = e.target.result;
				document.getElementById('area').value=  contents;
				loadjsonfile(contents);
			}
			r.readAsText(f);
			
			
        } else { 
			alert("Failed to load file");
        }
      }
	  
	  function addmetafield(){
		metaoptions1++;
            var $template = $('#optionTemplate1'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
								.attr('id','metafield'+metaoptions1)
                                .insertBefore($template),
                $option   = $clone.find('[name="option[]1"]');
				document.getElementById('metafield'+metaoptions1).getElementsByTagName('input')[0].id = ('metafield');
	  }
	   function addparamfield(){
	   paramoptions1++;
            var $template = $('#optionTemplate2'),
                $clone    = $template
                                .clone()
                                .removeClass('hide')
                                .removeAttr('id')
								.attr('id','paramfield'+paramoptions1)
                                .insertBefore($template),
                $option   = $clone.find('[name="option[]2"]');
				document.getElementById('paramfield'+paramoptions1).getElementsByTagName('input')[0].id = ('paramfield');
	   }
	   
	   
	   function resetFields(){
		   var metaelements = document.getElementsByName('option[]1');
				while(metaelements.length>1){
					$($(metaelements[0]).parents('.form-group')).remove();
				}
			var paramelements = document.getElementsByName('option[]2');
				while(paramelements.length>1){
					$($(paramelements[0]).parents('.form-group')).remove();
				}	
			 
		}
	   

		document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
		document.getElementById('test').addEventListener('click', resetFields);
    
	
</script>	


{{else}}
  <div class="jumbotron">
    <h1>Smart Open Data</h1>
	<h2>Dashboard</h2>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
  
{{/if}}